<div>
  <div class="container">
    <div>
      <input [(ngModel)]="newTask">
      <button (click)="add()">dodaj</button>
    </div>
  </div>

  <div class="container">
    <div>
        <div *ngIf="taskList.length>0; else noTask">
          <ul>
            <li *ngFor="let task of taskList">
              {{task}}
              <button (click)="remove(task)">usuń</button>
              <button (click)="done(task)">zdrobione</button>
            </li>
          </ul>
      </div>
      <ng-template #noTask>
        <p>brak zadań, masz wolny czas!</p>
      </ng-template>
    </div>
    <div>
      <p>Wykonane zadania {{taskDone.length}}</p>
      <ul>
        <li *ngFor="let task of taskDone">
          {{task}}
        </li>
      </ul>
    </div>
  </div>
</div>
